env:
  - name: SPRING_DATASOURCE_URL
    value: jdbc:mysql://mysql-service:3306/mydb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC

  - name: SPRING_DATASOURCE_USERNAME
    valueFrom:
      secretKeyRef:
        name: mysql-secret
        key: MYSQL_USER

  - name: SPRING_DATASOURCE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: mysql-secret
        key: MYSQL_PASSWORD

  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: com.mysql.cj.jdbc.Driver
