apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  MYSQL_DATABASE: bXlkYg==        # "mydb"
  MYSQL_USER: YXBwdXNlcg==        # "appuser"
  MYSQL_PASSWORD: YXBwcGFzcw==    # "apppass"
  MYSQL_ROOT_PASSWORD: cGFzc3dvcmQ=  # "password" par ex.
